<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig 
  xmlns="http://ibatis.apache.org/dataMapper" 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <properties>
    <property key="userid" value="MRLogOwner"/>
    <property key="password" value="MR123456"/>
    <property key="database" value="ManagerResearchLog"/>
    <property key="datasource" value="szpc1483\sqlexpress"/>
    <property key="selectKey" value="select @@IDENTITY as value"/>
    <property key="directory" value="MapFiles"/>
    <property key="useStatementNamespaces" value="false"/>
  </properties>
  
  <settings>
    <setting useStatementNamespaces="false"/>
  </settings>
  
  <providers resource="providers.config"/>
  
	<!-- Database connection information -->
	<database>
		<provider name="sqlServer2005"/>
		<dataSource name="iBatisNet" connectionString="data souce=${datasource};database=${database};user id=${userid};password=${password};"/>
	</database>

	<sqlMaps>
    <sqpMap embedded="MapFiles.UserInfo.xml,WebApi2"/>
			<!--<sqlMap resource="../../../Files/Maps/Access/Post.xml" />
		  <sqlMap resource="../../../Files/Maps/Access/Blog.xml" />
	    <sqlMap resource="../../../Files/Maps/Access/Author.xml" />-->
	</sqlMaps>

</sqlMapConfig>